# 项目背景
项目的名字叫做DNFAutoFire，简称DAF。
这是一个Python项目，使用PySide6作为UI组件。
这个项目的主要功能是，为游戏地下城与勇士(DNF)实现一个按键连发工具，当键盘的按下时，会自动最高频率连续触发按键。
同时后续可能会支持一些辅助功能。

# 功能设计
按键连发是这个项目的主要功能，当键盘的按下时，会自动最高频率连续触发按键。
因为需要支持多个按键，所以每一个按键的连发事件，都是一个独立的线程。
线程会在游戏窗口激活时自动启动，在窗口失去焦点时自动关闭节约性能。
每一个线程都会有一个独立的线程ID，用于区分不同的按键连发事件。
线程是预创建的，按键监听仅仅用于判断是否发送时间。

这个工具要支持设置的读取，保存和删除。
配置文件使用json的格式保存，以用于手动修改。

这个工具支持全局的热键触发，以及最小化到托盘的功能。

# 规则
永远不要瞎编API。
永远不要随意修改已有的逻辑。
永远不要随意修改已有的UI。
